<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    <div class="row CT">
      <div class="col-md-12">
          <form action="/index" method="POST">
            <div class="form-group">
              <div class="group">      
                <input type="text" name="x" value="" placeholder="" id="x" autofocus="" class="form-control"required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>?X?</label>
              </div>
            </div>
            <div class="BtnCT" >
              <button class="BtnCT btn btn-5" type="submit">submit</button>
            </div>
          </form>
      </div>
  </div>
    

  </body>
</html>
